<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDaudpFv1LP27Rvi8OHU5wRrqzXKfV99u4</string>
	<key>GCM_SENDER_ID</key>
	<string>605899606610</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fynancialapp.planwiser</string>
	<key>PROJECT_ID</key>
	<string>planwiserfinancial</string>
	<key>STORAGE_BUCKET</key>
	<string>planwiserfinancial.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:605899606610:ios:03fda7309048d1b438ad8b</string>
</dict>
</plist>