<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCiAPLLY0KQBE4EZWIyJo2s4EUbg3mqR5k</string>
	<key>GCM_SENDER_ID</key>
	<string>874444945104</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fynancialapp.milestonemoney</string>
	<key>PROJECT_ID</key>
	<string>milestone-money</string>
	<key>STORAGE_BUCKET</key>
	<string>milestone-money.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:874444945104:ios:41b6dedc3e60eb185d10d5</string>
</dict>
</plist>