<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDNtSgqUux7WgVCzgU4QUsuaFEsX4LGflw</string>
	<key>GCM_SENDER_ID</key>
	<string>923352521366</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fynancialapp.fourcfinancial</string>
	<key>PROJECT_ID</key>
	<string>four-c-financial</string>
	<key>STORAGE_BUCKET</key>
	<string>four-c-financial.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:923352521366:ios:62ae5bc2a206e1344fc0b7</string>
</dict>
</plist>