<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDWk4xhO2OQaleCtU_z3G546dIVsSLBUxk</string>
	<key>GCM_SENDER_ID</key>
	<string>337790667820</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fynancialapp.acmwealth</string>
	<key>PROJECT_ID</key>
	<string>acm-wealth</string>
	<key>STORAGE_BUCKET</key>
	<string>acm-wealth.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:337790667820:ios:54483f05a06aa5db7ed589</string>
</dict>
</plist>